@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: 500">Program do obsługi bufetu</h1>
    
    <div style="background-image: url('https://cdn.pixabay.com/photo/2016/03/05/22/20/animal-1239256_1280.jpg'); height: 500px; width: 1200px; background-position: 0px -150px"></div>
    <h5 style="margin-top: 50px; text-align: center">Jest to prosty i intuicyjny program obsługujący bufet, stworzony z myślą o usprawnieniu zarządzania tym rodzajem punktu gastronomicznego. Program ten umożliwia łatwe zarządzanie kupnem kanapek.</h5>
</div>
